<%- include ('./header.ejs') %>



	</div>
	<div id="page-preloader" class="visible">
		  <div class="preloader">
			  <div id="loading-center-absolute">
					<div class="object" id="object_one"></div>
			  </div>
		  </div>
	</div>
	<div id="common-home">
	  <div class="bg-color-b">
	  <div class="row commonrow">
					<div id="content" class="col-sm-12">
	<div class="slide-padding">
		<div class="homeslide">
		  <div id="slideshow0" class="owl-carousel owl-theme">

			<% for(i=0;i<result[2].length;i++) { %>
					 <div class="text-center">
						 <a href="indexedcd.html?route=product/product&amp;path=57&amp;product_id=49">
						 <img src="https://www.towtrueway.com/images/<%=result[2][i].image%>" alt="iPhone 6" class="img-responsive" />
						</a>
					</div>

					<% } %>
						</div>
		</div>
	  </div>
	<script type="text/javascript">
		$(document).ready(function() {
		$("#slideshow0").owlCarousel({
		itemsCustom : [
		[0, 1]
		],
		  autoPlay: 2500,
		  animateIn: 'fadeIn',
		  animateOut: 'fadeOut',
		  loop: true,
		  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
		  navigation : true,
		  pagination:false
		});
		});
	</script>
	
		<div class="container">
			<div class="cat-img">
				<h3 class="heading">Popular Categories<hr></h3>
				<div class="homecate row catro">
					
											
												
														<div class="container">
															<div class="row">
										
																<% for(i=0;i<result[0].length;i++){ %>
													

																<div class=" col-md-3 col-lg-2 col-sm-4 col-xs-6 ">
																	<div class="">
																											<a href="/shop-by-category?categoryid=<%=result[0][i].id%>">
																			<img src="/images/<%=result[0][i].image%>" style="width: 382px;height: 150px;object-fit: cover;" class="img-responsive " alt="">
																		</a>
																											<div class="">
																			<div class="catedes">
																				<h4 class="text-center"><a href="/shop-by-category?categoryid=<%=result[0][i].id%>" class=""><%=result[0][i].name%></a></h4>
																														</div>
																		</div>
																	</div>
																</div>									
																
															
<% } %>


																<!-- <div class=" col-md-3 col-lg-2 col-sm-4 col-xs-4  text-center newdesign">
																	<div class="block-cat">
																											<a href="index55b2.html?route=product/category&amp;path=70">
																			<img src="/finaldesign/image/cache/catalog/category/009-282x300.jpg" class="img-responsive center-block" alt="">
																		</a>
																											<div class="content-thum">
																			<div class="catedes">
																				<h4 class="text-center"><a href="index55b2.html?route=product/category&amp;path=70" class="">Bedroom</a></h4>
																														</div>
																		</div>
																	</div>
																</div> -->


								</div>
																		 </div>


																		 
														
									   
	
	
				 
					</div>
				</div>
				</div> 
				</div>           
	</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
		$("#category-name").owlCarousel({
		itemsCustom : [
		[0, 2],
		[375, 2],
		[600, 3],
		[768, 3],
		[992, 4],
		[1200, 5]
		],     
		  autoPlay:160000,
		  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
		  navigation : false,
		  pagination:false
		});
		});
	</script>
	<div class="container">
	<div class="row">
				<div class="offerbanner col-xs-6">
							<a href="#">
					  <img src="/finaldesign/image/cache/catalog/Allbanner/banners-750x350.jpg" alt="banner" class="img-responsive center-block" />
				  </a>
				  </div>
				  <div class="offerbanner col-xs-6">
							<a href="#">
					  <img src="/finaldesign/image/cache/catalog/Allbanner/banners-2-750x350.jpg" alt="banner" class="img-responsive center-block" />
				  </a>
				  </div>
		  </div>
	</div>


	<% for(k=0;k<result[4].length;k++) { %>

	<div class="container">
	<div class="pro-bg">
	<div class="tab-pro text-center">
		<h3 class="heading"><%=result[4][k].name%><hr></h3>

	<ul class="nav nav-tabs pro-tab">

		 
	</ul>
	</div>
	<div class="tab-content pro-nepr">
	
	<div class="tab-pane active" id="featurep">
		<div class="homecate row catro">
					
											
												
			<div class="container">
				<div class="row">

					<% for(i=0;i<12;i++){ %>


		

						<div class="product-layout col-md-3 col-lg-2 col-sm-4 col-xs-6 ">
							<div class="product-thumb transition">
							  <div class="image"><a href="indexb8ca.html?route=product/product&amp;product_id=43"><img src="/finaldesign/image/cache/catalog/product/3-728x800.jpg" alt="MacBook" title="MacBook" class="img-responsive center-block" /></a>
								  <!-- insp Images Start -->
																												   <a href="indexb8ca.html?route=product/product&amp;product_id=43"><img src="/finaldesign/image/cache/catalog/product/16-728x800.jpg" class="img-responsive second-img" alt="hover image"/></a>
															  
															
															
															
															
															
															
																								
								  <!-- End -->
													 
							  </div>
							  <div class="caption text-center">
						
								<h4><a href="indexb8ca.html?route=product/product&amp;product_id=43">MacBook</a></h4>
										 <div class="rating">
															<span class="fa fa-stack">
									  <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
									</span>
																	  <span class="fa fa-stack">
									  <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
									</span>
																	  <span class="fa fa-stack">
									  <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
									</span>
																	  <span class="fa fa-stack">
									  <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
									</span>
																	  <span class="fa fa-stack">
									  <i class="fa fa-star-o fa-stack-2x"></i>
									</span>
											  </div>                <p class="price">           $602.00
											 </p>
								 
								
							</div>
						   
							</div>
						  </div>
																
					
				
<% } %>


					<!-- <div class=" col-md-3 col-lg-2 col-sm-4 col-xs-4  text-center newdesign">
						<div class="block-cat">
																<a href="index55b2.html?route=product/category&amp;path=70">
								<img src="/finaldesign/image/cache/catalog/category/009-282x300.jpg" class="img-responsive center-block" alt="">
							</a>
																<div class="content-thum">
								<div class="catedes">
									<h4 class="text-center"><a href="index55b2.html?route=product/category&amp;path=70" class="">Bedroom</a></h4>
																			</div>
							</div>
						</div>
					</div> -->


</div>
							 </div>


							 
			




</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
		$("#feature").owlCarousel({
		itemsCustom : [
		[0, 2],
		[375, 2],
		[600, 3],
		[768, 3],
		[992, 4],
		[1200, 5]
		],
		  // autoPlay: 1000,
		  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
		  navigation : true,
		  pagination:false
		});
		});
	</script>
	
	
	
	
	
	<script type="text/javascript">
		$(document).ready(function() {
		$("#best").owlCarousel({
		itemsCustom : [
		[0, 2],
		[375, 2],
		[600, 3],
		[768, 3],
		[992, 4],
		[1200, 5]
		],
		  // autoPlay: 1000,
		  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
		  navigation : true,
		  pagination:false
		});
		});
	</script>
	
	
	
	</div>
	</div>
	</div>


	
	
<% } %>

	
	
	
	<script type="text/javascript">
		$(document).ready(function() {
		$("#latest").owlCarousel({
		itemsCustom : [
		[0, 2],
		[375, 2],
		[600, 3],
		[768, 3],
		[992, 4],
		[1200, 5]
		],
		  // autoPlay: 1000,
		  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
		  navigation : true,
		  pagination:false
		});
		});
	</script>
	<div class="allbanner container">
	<div class="row">
						<div class="imgbanner firstbanner col-xs-6">
				<div class=" banner-effect">
									<a href="#">
						  <img src="/finaldesign/image/cache/catalog/Allbanner/offer-750x350.jpg" alt="banner" class="img-responsive center-block" />
					  </a>
							  </div>
				</div>
						  <div class="imgbanner firstbanner col-xs-6">
				<div class=" banner-effect">
									<a href="#">
						  <img src="/finaldesign/image/cache/catalog/Allbanner/offer-2-750x350.jpg" alt="banner" class="img-responsive center-block" />
					  </a>
							  </div>
				</div>
			  </div>
	</div>
	
	

	
	
	
	</div>
		</div>
	</div>
	

	</div>

	<%- include ('./footer.ejs') %>
