<%- include ('./header.ejs') %>


<div id="product-category" class="container common-shed colo-w">
  <div class="bg-color-b">
 
  <div class="row">



                <div id="content" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="breadcrumb">
                <li><a href="index9328.html?route=common/home"><i class="fa fa-home"></i></a></li>
                <li><a href="index55b2.html?route=product/category&amp;path=70">Bedroom</a></li>
              </ul>
            <div class="inspdes"> 
         <h2>Bedroom</h2>
                       </div>
                        <div class="row cate-border">
            <div class="col-md-2 col-sm-3 col-xs-3 catebt">
                <div class="btn-group-sm">
                   
                    <button type="button" id="grid-view" class="btn inslistgrid" data-toggle="tooltip" title="Grid">
                         <img src="/finaldesign/image/catalog/category/grid.png">
                    </button>
                </div>
            </div>
    
            <div class="col-lg-6 col-md-5 col-xs-4 col-sm-4 sorting">
           
            </div>
            <div class="col-lg-4 col-md-5 col-xs-5 col-sm-5 sorting">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="input-sort">Sort By:</label>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                                                                                    <option value="http://opencart.indiatemplates.in/royal-furniture/index.php?route=product/category&amp;path=70&amp;sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                                                                                                                <option value="index9f63.html?route=product/category&amp;path=70&amp;sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                                                                                                <option value="index1853.html?route=product/category&amp;path=70&amp;sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                                                                                                <option value="indexfcf6.html?route=product/category&amp;path=70&amp;sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                                                                                                <option value="index43e1.html?route=product/category&amp;path=70&amp;sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                                                                                                <option value="index8a7c.html?route=product/category&amp;path=70&amp;sort=rating&amp;order=DESC">Rating (Highest)</option>
                                                                                                                <option value="indexa878.html?route=product/category&amp;path=70&amp;sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                                                                                                <option value="indexd994.html?route=product/category&amp;path=70&amp;sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                                                                                                <option value="index5449.html?route=product/category&amp;path=70&amp;sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                                                        </select>
                </div>
            </div>
            
        </div>
      <div class="row catebg"> 
        
        <% for(i=0;i<result[2].length;i++){ %>
     
                <div class="product-layout product-list col-xs-12">
          <div class="product-thumb transition">
      <div class="image"><a href="/product?id=<%=result[2][i].id%>"><img src="/images/<%=result[2][i].thumbnail%>" alt="<%=result[2][i].name%>" title="<%=result[2][i].name%>" class="img-responsive center-block" /></a>
               <!-- insp Images Start -->
                                                                                                                                                                                                                                                                                            <!-- insp Images End -->
                                    </div>
      <div class="caption text-center">

        <h4><a href="/product?id=<%=result[2][i].id%>"><%=result[2][i].name%></a></h4>
        <p class="list-des">Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we're n..</p>
        <% if(result[2][i].discount>0){ %>                    
        <p class="price">           
                              <s>Rs. <%=result[2][i].price%></s> Rs.<%=result[2][i].net_amount%>
                     </p>
         <% } else { %>
          <p class="price">           
           Rs.<%=result[2][i].net_amount%>
   </p>

   <% } %>
        
    </div>
     
    </div>
        </div>
              

<% } %>


         </div>
  
                  </div>
    </div>
</div>
</div>
<%- include ('./footer.ejs') %>
