<%- include ('./header.ejs') %>


<div id="product-product" class="container common-shed">
  <div class="bg-color-b">
  <div class="row">
                <div id="content" class="col-sm-12">
       <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="/shop-by-subcategory?subcategoryid=<%=result[2][0].subcategoryid%>"><%=result[2][0].subcategoryname%></a></li>
                <li><a href="/product?id=<%=result[2][0].id%>"><%=result[2][0].name%></a></li>
              </ul>
      <div class="row">
        <div class="col-md-12 col-sm-12 inspire-form-bg">
                                <div class="col-lg-4 col-md-5 col-sm-6 proimg"> 
                                <ul class="thumbnails">
                                                        <li><a class="thumbnail" href="/images/<%=result[2][0].thumbnail%>" title="MacBook Pro">
                                    <img data-zoom-image="/images/<%=result[2][0].thumbnail%>" src="/images/<%=result[2][0].thumbnail%>" id="inspzoom" class="img-responsive center-block" alt="image">
                                </a>
                            </li>
                                                                                    <div class="row">
                            <li id="additional" class="owl-carousel">

                                <a data-zoom-image="/images/<%=result[2][0].image%>" data-image="/images/<%=result[2][0].image%>"  href="/images/<%=result[2][0].image%>">
                                    <img src="/images/<%=result[2][0].image%>" class="img-responsive center-block col-xs-12" alt="additional image">
                                </a>

                                <% for(i=0;i<result[4].length;i++) { %>
                                                                <a data-zoom-image="/images/<%=result[4][i].image%>" data-image="/images/<%=result[4][i].image%>"  href="/images/<%=result[4][i].image%>">
                                    <img src="/images/<%=result[4][i].image%>" class="img-responsive center-block col-xs-12" alt="additional image">
                                </a>

                                <% } %>
                                                     
                                                            </li>
                            </div>
                                                    </ul>
                  </div>
                                <div class="col-lg-8 col-md-7 col-sm-6 product-right">
          <div class="row">
          <!--product Details Start -->
          <div class="col-lg-6 col-xs-12">
            <h1><%=result[2][0].name%></h1>
            <hr class="prosp">
            <ul class="list-unstyled">
                        <li><span class="text-prodecor">Brand:</span><%=result[2][0].brandname%></li>
                        <li><%=result[2][0].small_description%> </li>
                        </ul>
            <div id="product">                         <!-- Quantity option -->
            <div class="form-group">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-xs-2 op-box qtlabel">
                    <label class="control-label text-prodecorop" for="input-quantity">Qty</label>
                </div>
              <div class="col-md-10 col-sm-10 col-xs-10 op-box qty-plus-minus">
              <button type="button" class="form-control pull-left btn-number btnminus" disabled="disabled" data-type="minus" data-field="quantity">
                  <span class="glyphicon glyphicon-minus"></span>
               </button>
              <input id="input-quantity" type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control input-number pull-left" />
              <input type="hidden" name="product_id" value="45" />
               <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity">
                  <span class="glyphicon glyphicon-plus"></span>
               </button>
               </div>
               </div><hr class="prosp">


               <% if(result[2][0].quantity>0) { %>

              <button type="button" id="button-cart" data-loading-text="Loading..." class="btn add-to-cart btn-primary">Add to Cart</button>
            <% } else {  %>
                <button type="button" class="btn btn-light">Out Of Stock</button>

                <% } %>
            
              <!-- <button type="button" data-toggle="tooltip" title="Wish List" class="btn add-to-cart btn-primary" onclick="wishlist.add('45');"><i class="fa fa-heart"></i></button> -->
              <hr class="prosp">
            </div>
            <!-- Quantity option end -->
            </div>
          </div>
          <!--product Details End -->
          <div class="col-lg-6 col-xs-12 last-part">
            <div class="p-p-price-detail">
                <% if(result[2][0].quantity>0) { %>

            <div>Availability: <span class="in-stock">In Stock</span></div>

            <% } else { %>

                <div><span class="in-stock" style="color: red;">Out Of Stock</span></div>

<% } %>
                       <ul class="list-unstyled price-desc">
                        <li class="text-prodecor-bold">
                            <% if(result[2][0].discount>0) { %>
              <h2 class="pro-price"><s>Rs.<%=result[2][0].price%></s> Rs.<%=result[2][0].net_amount%> </h2>
              <% } else { %>
                <h2 class="pro-price"> Rs.<%=result[2][0].net_amount%> </h2>

                <% } %>
            </li>
                                     <!-- <li>Ex Tax: $2,000.00</li> -->
             
                                  </ul>
                               <div class="rating">
            <!-- <ul class="list-inline">
            <li class="prodrate">              <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>               </li>
              <li class="proreviewre">
                <a id="pro-review" href="#" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">1 review</a>
              </li>
              <li class="prowritere">
                <a id="pro-writereview" href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write review</a>
              </li>
              </ul> -->
            <!-- <hr class="prosp"> -->
             <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_google_plus"></a>
                            <a class="a2a_button_pinterest"></a>
                            <a class="a2a_button_linkedin"></a>
                            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        </div>
                        <script async src="../../static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
          </div>
           
        </div>
          </div>                             
          </div>                             
          
         
        </div>
      </div>
      </div>
<div class="propage-tab">
      <ul class="nav nav-tabs">
            
           
            <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>            
                        <!-- <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li> -->
                      </ul>
          <div class="tab-content active">
                         <div class="tab-pane active" id="tab-description"><div class="cpt_product_description active ">
	<div id="result">
	
	</div>
</div>
<!-- cpt_container_end --></div>           
                        <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2 class="heading co-heading">Write review</h2>
                                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">Your Name</label>
                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">Your Review</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label rat">Rating</label>
                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;Good</div>
                </div>
                
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                  </div>
                </div>
                              </form>
            </div>
            </div>
            </div>
<!-- relatedproduct -->
<div class="pro-bg">
            <div><h2 class="heading">Related Products<hr></h2></div>
      <div class="pro-nepr row thummargin">
        <div id="related" class="owl-carousel owl-theme">
            
                                        <div class="col-xs-12 col-sm-12 product-layout col-xs-12">
         <div class="product-thumb transition">
      <div class="image"><a href="index6320.html?route=product/product&amp;product_id=28"><img src="/finaldesign/image/cache/catalog/product/11-728x800.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive center-block" /></a>
              </div>
     <div class="caption text-center">

        <h4><a href="index6320.html?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
                 <div class="rating">
                                    <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                              <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                              <span class="fa fa-stack">
              <i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                              <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                                              <span class="fa fa-stack">
              <i class="fa fa-star-o fa-stack-2x"></i>
            </span>
                      </div>                <p class="price">           $122.00
                     </p>
         
                 <div class="button-group">
          <button type="button" data-toggle="tooltip" title="Wish List" onclick="wishlist.add('28');"><svg width="16px" height="16px"><use xlink:href="#addwish"></use></svg></button>
          <button type="button" data-toggle="tooltip" title="Compare" onclick="compare.add('28');"><svg width="16px" height="16px"><use xlink:href="#addcompare"></use></svg></button>
          <div class="bquickv" data-toggle="tooltip" title="Quick View"></div>
          <button class="acart" data-toggle="tooltip" title="Add to Cart" type="button" onclick="cart.add('28');"><svg width="16px" height="16px"><use xlink:href="#addcart"></use></svg></button>
        </div>
        
    </div>
    </div>
    </div>
    
            </div>
        
        </div>
              </div>

              </div>
    </div>
</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
  $.ajax({
    url: 'index.php?route=product/product/getRecurringDescription',
    type: 'post',
    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
    dataType: 'json',
    beforeSend: function() {
      $('#recurring-description').html('');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();

      if (json['success']) {
        $('#recurring-description').html(json['success']);
      }
    }
  });
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/cart/add',
    type: 'post',
    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
    dataType: 'json',
    beforeSend: function() {
      $('#button-cart').button('loading');
    },
    complete: function() {
      $('#button-cart').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible, .text-danger').remove();
      $('.form-group').removeClass('has-error');

      if (json['error']) {
        if (json['error']['option']) {
          for (i in json['error']['option']) {
            var element = $('#input-option' + i.replace('_', '-'));

            if (element.parent().hasClass('input-group')) {
              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            } else {
              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
            }
          }
        }

        if (json['error']['recurring']) {
          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
        }

        // Highlight any found errors
        $('.text-danger').parent().addClass('has-error');
      }

      if (json['success']) {
        $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

        $('#cart > button').html('<svg width="26px" height="26px"><use xlink:href="#hcart"></use></svg> <span id="cart-total">' + json['total'] + '</span>');

        $('html, body').animate({ scrollTop: 0 }, 'slow');

        $('#cart > ul').load('index1e1c.html?route=common/cart/info%20ul%20li');
      }
    },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
  });
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
  language: 'en-gb',
  pickTime: false
});

$('.datetime').datetimepicker({
  language: 'en-gb',
  pickDate: true,
  pickTime: true
});

$('.time').datetimepicker({
  language: 'en-gb',
  pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
  var node = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name=\'file\']').trigger('click');

  if (typeof timer != 'undefined') {
      clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name=\'file\']').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(node).button('loading');
        },
        complete: function() {
          $(node).button('reset');
        },
        success: function(json) {
          $('.text-danger').remove();

          if (json['error']) {
            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            alert(json['success']);

            $(node).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
//--></script>
<!--for product quantity plus minus-->
<script type="text/javascript">
    //plugin bootstrap minus and plus
    $(document).ready(function() {
    $('.btn-number').click(function(e){
    e.preventDefault();
    var fieldName = $(this).attr('data-field');
    var type = $(this).attr('data-type');
    var input = $("input[name='" + fieldName + "']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
    if (type == 'minus') {
    var minValue = parseInt(input.attr('min'));
    if (!minValue) minValue = 1;
    if (currentVal > minValue) {
    input.val(currentVal - 1).change();
    }
    if (parseInt(input.val()) == minValue) {
    $(this).attr('disabled', true);
    }

    } else if (type == 'plus') {
    var maxValue = parseInt(input.attr('max'));
    if (!maxValue) maxValue = 999;
    if (currentVal < maxValue) {
    input.val(currentVal + 1).change();
    }
    if (parseInt(input.val()) == maxValue) {
    $(this).attr('disabled', true);
    }

    }
    } else {
    input.val(0);
    }
    });
    $('.input-number').focusin(function(){
    $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function() {

    var minValue = parseInt($(this).attr('min'));
    var maxValue = parseInt($(this).attr('max'));
    if (!minValue) minValue = 1;
    if (!maxValue) maxValue = 999;
    var valueCurrent = parseInt($(this).val());
    var name = $(this).attr('name');
    if (valueCurrent >= minValue) {
    $(".btn-number[data-type='minus'][data-field='" + name + "']").removeAttr('disabled')
    } else {
    alert('Sorry, the minimum value was reached');
    $(this).val($(this).data('oldValue'));
    }
    if (valueCurrent <= maxValue) {
    $(".btn-number[data-type='plus'][data-field='" + name + "']").removeAttr('disabled')
    } else {
    alert('Sorry, the maximum value was reached');
    $(this).val($(this).data('oldValue'));
    }
    });
    $(".input-number").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== - 1 ||
            // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
            }
            });
    });
</script>

<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index22dd.html?route=product/product/review&amp;product_id=45');

$('#button-review').on('click', function() {
  $.ajax({
    url: 'index.php?route=product/product/write&product_id=45',
    type: 'post',
    dataType: 'json',
    data: $("#form-review").serialize(),
    beforeSend: function() {
      $('#button-review').button('loading');
    },
    complete: function() {
      $('#button-review').button('reset');
    },
    success: function(json) {
      $('.alert-dismissible').remove();

      if (json['error']) {
        $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
      }

      if (json['success']) {
        $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

        $('input[name=\'name\']').val('');
        $('textarea[name=\'text\']').val('');
        $('input[name=\'rating\']:checked').prop('checked', false);
      }
    }
  });
});

$(document).ready(function() {
  $('.thumbnails').magnificPopup({
    type:'image',
    delegate: 'a',
    gallery: {
      enabled: true
    }
  });
});
//--></script>
<!-- related -->
<script type="text/javascript">
    $(document).ready(function() {
    $("#related").owlCarousel({
    itemsCustom : [
    [0, 2],
    [375, 2],
    [600, 3],
    [768, 3],
    [992, 4],
    [1200, 5]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation : true,
      pagination:false
    });
    });
</script>
<!-- related over -->
<!-- zoom product start -->
<!-- zoom product start -->
<script>
     if (jQuery(window).width() > 991){
        //initiate the plugin and pass the id of the div containing gallery images
            $("#inspzoom").elevateZoom({gallery:'additional', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: ''});
        //pass the images to Fancybox
            $("#inspzoom").bind("click", function (e) {
            var ez = $('#inspzoom').data('elevateZoom');
            $.fancybox(ez.getGalleryList());
            return false;
            });
    }
</script>
<!--ZOOM END-->

<!--slider for product-->
<script type="text/javascript"><!--
$('#additional').owlCarousel({
  itemsCustom : [
        [0, 3],
        [412, 4],
        [600, 6],
        [768, 3],
        [992, 4],
        [1200, 4]
        ],
   autoPlay: 1000,
  autoPlay: true,
  navigation: false,
  navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
  pagination: false
});
--></script>
<!--over slider for product-->


<input type="hidden" id="producthiddenid" value="<%=result[2][0].id%>">

<%- include ('./footer.ejs') %>


<script>
     $( document ).ready(function() {
     let msg = $('#producthiddenid').val()
     $.getJSON(`/product-description?msg=${msg}`,data=>{

       a(data)
    })
  });


  function a(data){
      let table = `<p>
   <p>${data[0].description}</p>
   </p>
        `
  
      
      
        $('#result').html(table)
       
    }
  
  
</script>
